@page
<!--<main>
        <div id="cards">
            <div id="">
                <h1>

                </h1>
                <article>

                </article>
            </div>
        </div>
    </main>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
<script>

    let cards = document.getElementById('cards');

    connection.on("UpdateCard", (title, content) => {
        let card = cards.getElementById('cardID');
        card.querySelector('h1').innerHTML = title;
        card.querySelector('article').innerHTML = content;
    }

</script>-->

<link herf="/css/style.css" />

<div class="login">
    <h2>Login</h2>
    <form>
        <input type="text" name="username" placeholder="username" />
        <button type="submit" class="btn">Login</button>
    </form>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>


