@page
<!--<main>
        <div id="cards">
            <div id="">
                <h1>

                </h1>
                <article>

                </article>
            </div>
        </div>
    </main>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
<script>

    let cards = document.getElementById('cards');

    connection.on("UpdateCard", (title, content) => {
        let card = cards.getElementById('cardID');
        card.querySelector('h1').innerHTML = title;
        card.querySelector('article').innerHTML = content;
    }

</script>
-->
<!--- Login Screen -->
<form class="form" id="loginscreen" style="width: 400px; margin:0 auto; margin-top:200px;">
    <h2>Login</h2>
    <input type="text" class="form-control" id="username">
    <button class="btn btn-lg btn-primary" style="margin-top:10px;" type="button" id="username_submit">Submit</button>
</form>


<!-- Drop down box for groups -->
<div class="GroupBox">
    <select class="form-control" id="group_list" style="display: none; margin-top:50px; width:60%;">
        <option>Select a group..</option>
    </select>
    <button id="ShowGroupInput" type="submit" class="btn">Add Group</button>
    <button id="AddGroup"       type="submit" class="btn">Create Group</button>
    <button id="Cancel"         type="submit" class="btn">Cancel</button>
    <input  id="GroupName"      type="text"   class="form-control" style="width:100px;" />
</div>



<button id="AddCardButton">Add Card</button>

<!-- Card template -->
<form id="cards" class="card" style="display: none;">
    <div class="w3-card" id="card">

    </div>
    <button type="submit" onclick="UpdateCard('test', 'test1')">Add Item</button>
</form>


<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/groups.js"></script>


